body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.main{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	min-height: 600px;
	background-color: #f3f2f2 ;
	position: relative;


}

.logo a{
	padding-left: 30px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
.logo a:hover{
	cursor: pointer;
}


.menu{
	width: 45%;
}

.menu ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
.header{
	min-height: 10vh;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative;
	background: rgb(0, 0, 0);
}

.menu-link{
	color: white;
	text-decoration: none;
}

.menu-link:hover{
	cursor: pointer;
	text-decoration: underline;
}

.get-appl-btn{
	color: white;
	text-decoration: none;
	border: 3px solid white;
	padding: 10px 20px;
	border-radius: 80px;
}

.get-appl-btn:hover{
	background-color: white;
	border: 3px solid black;
	color: black;
	cursor: pointer;
}

.table {
	background-color: #fff;
	padding-bottom: 100px;
   margin: 30px;
   width: 70%;

}
.table-header{
	text-align: center;
	padding: 5rem;

}

.table-header span{
	color: black;
	font-size: 1.2rem;
	text-transform: uppercase;
}
.table-header span::after{
	content: '';
	width: 20px;
	height: 1px;
	background-color: black;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-bottom: 2px;
}

.table-header span::before{
	content: '';
	width: 20px;
	height: 1px;
	background-color: black;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 2px;
}

.table-header p{
	font-size: 1.4rem;
   color: black;
	display: inline-block;
	width: 40rem;
	line-height: 1.2rem;
}

.table-header h2{
	color: black;
	font-size: 3rem;
	font-weight: 600;
	margin: 0;
}
.price-tags{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
   flex-direction: column;
}
.price-tag{
	box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
   height: 300px;
	background-color: white;
   color: rgb(29, 29, 29);
	border-radius: 2rem;
	text-align: center;
	padding: 10px;
   margin-bottom: 30px;

}

.price-tag h2{
   font-size: 2rem;
	font-weight: 500;
	margin-top: 2rem;
	color: black;
}

.price-tag span{

}
.price-tag p{
	color: black;
	margin-top: 55px;
}
.price-tag h3{
	color: black;
	font-weight: 600;
	font-size: 1.4rem;
}

.contact{
	background: url(backfoot.jpg) no-repeat top;
	background-size: cover;
	padding-top: 7rem;
   padding-bottom: 7rem;
	height: 12rem;
	color:white;
	position: relative;
	text-align: center;
   width: 100%;
}

.contact h4{
	font-weight: 600;
	font-size: 3.5rem;
	margin: 0;
}

.maps-btn{

	border: none;
	background-color: #fff;
	color: black;
	width: 20rem;
	height: 5rem;
	font-size: 1.4rem;
	font-weight: 400;
	margin-top: 4rem;
	border-radius: 120px;
	transition: 0.1s;

}

.maps-btn:hover{
	background-color: black;
	border: 3px solid white;
	color: white;
	cursor: pointer;
}

.footer-wrap{
	display: flex;
	justify-content: center;
   width: 100%;
	background-color: black;
}

.footer{
	height: 12vh;
	align-items: center;
	width: 99%;
	display: flex;
	justify-content: space-between;
}

.footer-menu {
	width: 40%;
}

.footer-menu ul{
	display: flex;
	justify-content: left;
	align-items: center;
	list-style: none;
	height: 40px;
	padding: 0;
	margin: 0;
}
.footer-menu-link{
	text-decoration: none;
	align-items: center;
	background-color:  white;
	width: 32px;
   height: 32px;
   border-radius: 50%;
   margin-right: 30px;

}

.i1{
	background:#3b5998;
	padding: 10px 10px;
}

.i2{
	background: #794c0a;
	padding: 10px 10px;
}
.i3{
	background: #cc2127;
	padding: 10px 10px;
}
.i4{
	background: #0fc00f;
	padding: 10px 10px;
}

.footer-menu ul li:hover{
	background:rgba(130, 130, 130, 0.6);
	cursor: pointer;
}


.footer-item{
	color: white;
	padding-right: 30px;
	font-size: 15px;
}

.m-menu-link{
	display: none;
	color: white;
	font-size: 3rem;
}
.fa{
	margin-right: 15px;
}

.m-menu{
	padding: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	text-align: center;
	list-style: none;
	font-size: 3rem;
	line-height: 3;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 99;
	transition: 0.5s;
	transform: translateX(-100%);
}

.m-menu__active{
	transform: translateX(0%);
}

.close-menu{
	position: fixed;
	right: 3rem;
	top: -3rem;
	font-size: 5rem;
	font-weight: 900;
	color: white;
}
.close-menu:hover{
	cursor: pointer;
}

.copyright{
	padding-left: 30px;
	font-size: 30px;
	cursor: pointer;

}

.mpbtn{
	text-decoration: none;
	color: inherit;
}

