{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Главная</title>
   <link rel="stylesheet" type="text/css" href="{% static 'main/style_detail.css' %}">
</head>

<body>

   <div class="main">
      <div class="header">
         <div class="logo">
            <a href="{% url 'main:main' %}" class="logo-item">Vector</a>
         </div>
         <div class="menu visible-lg">
            <ul>
                <li><a href="{% url 'main:main' %}" class="menu-link">Головна</a></li>
               <li><a href="{% url 'main:contacts' %}" class="menu-link">Контакти</a></li>
               <li><a href="{% url 'main:about' %}" class="menu-link">Від нас</a></li>
               {% if user.is_authenticated %}
               <li><a href="{% url 'main:profile' %}" class="menu-link">Профіль</a></li>
               <li><a href="{% url 'main:profile_ad_add' %}" class="get-appl-btn">Подати об'яву</a></li>
               {% else %}
               <li><a href="{% url 'main:register' %}" class="get-appl-btn">Зареєструватися</a></li>
               <li><a href="{% url 'main:login' %}" class="get-appl-btn">Увійти</a></li>
               {% endif %}
            </ul>
         </div>
      </div>
      <div class="table">
         <div class="table-header">
            <h2>Деталі об'яви</h2>
            <hr>
         </div>

         <div class="detail">
            <div class="container-fluid inf mt-3">
               <div class="row">
                  {% if ad.image %}
                  <div class="col-md-auto"><img src="{{ ad.image.url }}" alt="" class="main-image"></div>
                  {% endif %}
                  <div class="col">
                     <h2>{{ ad.title }}</h2>
                     <p>{{ ad.content }}</p>
                     {%if ad.price == 0 %}
                        <p class="text-right font-weight-bold">Безкоштовно</p>
                     {% else %}
                        <p class="text-right font-weight-bold">{{ ad.price }} грн.</p>
                     {% endif %}
                     <p>{{ ad.contacts }}</p>
                     <p class="text-right font-italic">Added {{ ad.created_at }}</p>
                  </div>
               </div>
            </div>
            {% if addimg %}
            <div class="d-flex justify-content-between flex-wrap mt-5">
               {% for img in addimg %}
               <div>
                  <img class="additional-image" src="{{ img.image.url }}" alt="">
               </div>
               {% endfor %}
            </div>
            {% endif %}
            <p><a href="{% url 'main:by_heading' pk=ad.heading.pk %}{{ all }}">Назад</a></p>
            <h4 class="mt-5">Додати новий коммент</h4>
            <form method="post">
               {% csrf_token %}
               {% bootstrap_form form layout='horizontal' %}
               {% buttons submit='Додати' %} {% endbuttons %}
            </form>
            {% if comments %}
            <div class='mt-5'>
               {% for comment in comments %}
               <div class="my-2 p-2 border">
                  <h5>{{ comment.author }}</h5>
                  <p>{{ comment.content }}</p>
                  <p class="text-right font-italic">{{ comment.created_at }}</p>
               </div>
               {% endfor %}
            </div>
            {% endif %}


         </div>

      </div>
   </div>

   <div class="contact">
      <h4>
         Ми на Google Maps 📍
      </h4>
      <a class="mpbtn" href="https://goo.gl/maps/KEZ9j1eXAizJKRjv6"><button class="maps-btn">Подивитись на
            мапі</button></a>
   </div>
   <div class="footer-wrap">
      <div class="footer">
         <div class="footer-menu">
            <ul>
              <li class="footer-menu-link i1">
                     <a href="https://www.facebook.com/oleg.melnykov.7" class="l1"><img src="{% static 'main/fc_icon.png' %}"
                           alt="ico"></a>
                  </li>
                  <li class="footer-menu-link i2">
                     <a href="https://www.instagram.com/document_ks/" class="l2"><img src="{% static 'main/inst_ico.png' %}"
                           alt="ico"></a>
                  </li>
                  <li class="footer-menu-link i3">
                     <a href="" class="l3"><img src="{% static 'main/email_ico.png' %}" alt="ico"></a>
                  </li>
                  <li class="footer-menu-link i4">
                     <a href="https://goo.gl/maps/KEZ9j1eXAizJKRjv6" class="l4"><img src="{% static 'main/maps_ico.png' %}"
                           alt="ico"></a>
                  </li>
            </ul>
         </div>
         <div class="copyright">
            <a href="/" class="footer-item">Copyright ⓒ 2022. All rights reserved by Vector</a>
         </div>
      </div>
   </div>

</body>

</html>