{% extends "layout/basic.html" %}

{% block title %}Удаление объявления - Профиль пользователя{% endblock %}

{% block content %}
<h2>Удаление объявления</h2>
<div class="container-fluid mt-3">
    <div class="row">
        {% if ad.image %}
        <div class="col-md-auto"><img src="{{ ad.image.url }}" class="main-image" alt=""></div>
        {% endif %}
        <div class="col">
            <h2>{{ ad.title }}</h2>
            <p>{{ ad.content }}</p>
            <p class="font-weight-bold">{{ ad.price }} uah.</p>
            <p>{{ ad.contacts }}</p>
            <p class="text-right font-italic">Добавлено {{ ad.created_at }}</p>
        </div>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Удалить">
</form>
{% endblock %}
